.grid-list-results-favorites {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 0.75rem;
  row-gap: 5%;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  margin-top: 10%;
}
@media screen and (max-width: 600px) {
  .grid-list-results-favorites {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30%;
    margin-bottom: 50%;
    row-gap: 2%;
  }
}
