a,
button {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

nav {
  position: fixed;
  top: 0px;
  padding-left: 0;
  background-color: #000000f8;
  background-color: #000000dc;
  background-color: #000000e6;

  height: 100%;
  width: 350px;
  padding-top: 100px;
}
ul {
  padding: 0;
}
.navigation {
  position: absolute;
  left: -100%;
  width: 400px;
  transition: 0.5s;
}

.navigation nav ul li {
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.5em;
  height: 100%;
  padding: 20px 30px;
  width: 100%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.navigation nav ul li:hover {
  box-shadow: rgba(254, 0, 0, 0.2) 0px 7px 20px 0px;
}
.hamburger,
.bar {
  position: absolute;
  z-index: 100;
}

.hamburger {
  left: 2%;
  width: 30px;
  height: 30px;
  border: 0;
  background: 0 0;
  opacity: 0.7;
  transition: all 0.4s;
}
.hamburger:hover {
  opacity: 1;
}
.bar {
  top: 3px;
  background: #fff;
  width: 100%;
  height: 4px;
  transition: all 0.3s ease-in;
}

#bar2 {
  top: 11px;
}

#bar3 {
  top: 19px;
}

.navigation.active {
  left: 0;
}

.hamburger.open #bar1 {
  background-color: #fff;
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
  background-color: transparent;
}

.hamburger.open #bar3 {
  background-color: #fff;
  transform: rotate(-45deg) translate(6px, -5px);
}
