footer {
  background-image: url(./backgroundfooter.jpg);
  height: 35vh;
  /* padding-top: 4rem; */
  width: 100%;
  /* position: fixed; */
  bottom: 0;
}
.container-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin-bottom: 2%;
  gap: 5rem;
  /* gap: 5rem;

  margin-left: 5%;
  margin-right: 5%; */
}
.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links-container a:hover {
  cursor: pointer;
  color: #6d0110;
}
.logo-footer {
  width: 250px;
  height: 250px;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 600px) {
  .grid-footer {
    gap: 0;
  }
}
